<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Choose Your Quiz</title>
  <link rel="stylesheet" href="../static/CSS/chooseQuiz.css" />
</head>
<body>
  <header>
    <nav>
      <ul>
        <li id="profile"><a href="#"><img src="../static/images/profile.svg" alt="Profile"></a></li>
        <div class="QuizGroup">
          <li><a href="#"><img src="../static/images/html.gif" alt="HTML"></a></li>
          <li><a href="#"><img src="../static/images/css.gif" alt="CSS"></a></li>
          <li><a href="#"><img src="../static/images/javascript.gif" alt="JavaScript"></a></li>
          <li><a href="#"><img src="../static/images/react.gif" alt="React"></a></li>
        </div>
        <li id="Logout"><a href="#"><img src="../static/images/logout.svg" alt="Logout"></a></li>
      </ul>
    </nav>
    <h1>Choose Your Quiz</h1>
  </header>

  <section id="quiz-options">
    <div class="quiz-buttons">
      <a href="questionHtml.html" class="quiz-btn"><img src="../static/images/html2.png" alt="HTML"> HTML</a>
      <a href="questionCSS.html" class="quiz-btn"><img src="../static/images/cs2.png" alt="CSS"> CSS</a>
      <a href="questionJs.html" class="quiz-btn"><img src="../static/images/js2.png" alt="JavaScript"> JavaScript</a>
      <a href="questionReact.html" class="quiz-btn"><img src="../static/images/react1.png" alt="React"> React</a>
      <a href="ranking.html" class="quiz-btn"><img src="../static/images/ranking.gif" alt="Ranking"> Ranking
      </a>
      
    </div>
  </section>

  <footer>
    <h2>Contact</h2>
    <hr>
    <address>
      <p>
        <a href="mailto:gmail.com"><img src="../static/images/gmail.svg" alt="Mail Pic"></a>
        <a href="tel:966+"><img src="../static/images/phone.png" alt="Phone Pic"></a>
      </p>
    </address>
    <br>
    <p>&copy;<small>2025 Ziyad and Mussab Alabdullatf. All Rights Reserved.</small></p>
  </footer>
</body>
</html>
